@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  font-size: 18px;
  overflow-x: hidden;
  box-sizing: border-box;
}
main {
  min-height: calc(-200px + 92vh);
  width: 100%;
}
footer {
  min-height: 20px;
  background-color: #fff;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.footer {
  width: 100%;
}
.footer__content {
  display: block;
  width: 100%;
  max-width: 1024px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}
.leaflet-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 120px !important;
}

@media screen and (max-width: 768px) {
  .ip-tracker__results {
    display: flex;
    flex-direction: column !important;
    top: 170px !important;
    width: 90% !important;
  }
  .ip-tracker__result {
    margin: 0 !important;
    padding: 10px 0 !important;
    height: auto !important;
    border: none !important;
    text-align: center !important;
  }
  .ip-tracker__result > h3 {
    font-size: 13px !important;
  }
  .ip-tracker__result > p {
    font-size: 15px !important;
  }
  .leaflet-top {
    top: 200px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .ip-tracker__results {
    height: 160px;
    width: 95% !important;
  }
  .ip-tracker__result {
    padding: 12px 20px;
  }
  .ip-tracker__result > h3 {
    font-size: 13px !important;
  }
  .ip-tracker__result > p {
    font-size: 15px !important;
  }
  .leaflet-top {
    top: 200px !important;
  }
}

@media screen and (min-width: 1440px) {
  .ip-search__container {
    padding: 0 15px;
  }
  .ip-tracker__result {
    border: none;
    width: 280px;
    padding: 0;
  }
  .ip-tracker__result > h3,
  .ip-tracker__result > p {
    font-size: 14px;
  }
}
